@charset "utf-8";

* {
    border: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #54E6DE, pink) !important;
}

#body-container {
    width: 100%;
}

main {
    min-height: 500px;
}

.words {
    white-space:nowrap;
    color: #000;
}

#cycle-words {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width:0%;
    opacity:0;
}